<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="YoutubeUploader" value="C:\Users\Alexander\Source\Repos\alexhiggins732\youtube-api-samples\dotnet\Google.Apis.YouTube.Samples.Upload\bin\Release\YoutubeUpload.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
